@inherits AddMessageDialogBase

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content modal-color">
    <div class="modal-header">
        <h5 class="modal-title" id="titleLabel">Message Quick Add</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <EditForm Model="@MessageVM" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            
            <div class="form-group">
                <label for="Doctor">Doctor</label>
                <InputSelect id="Doctor" class="form-control" @bind-Value="@MessageVM.DoctorName" placeholder="Enter Doctor: ">
                    @foreach (var doctor in Doctors)
                    {
                        <option>@doctor.Name @doctor.Speciality</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label for="Direction">Direction: </label>
                <InputText id="Direction" class="form-control" @bind-Value="@MessageVM.Direction" placeholder="Enter Direction:"></InputText>
                <ValidationMessage For="@(() =>MessageVM.Direction)"/>
            </div>
            <div class="form-group">
                <label for="MessageText">Message: </label>
                <InputTextArea id="MessageText" Rows="10" class="form-control" @bind-Value="@MessageVM.MessageText" placeholder="Enter Message:"></InputTextArea>
                <ValidationMessage For="@(() =>MessageVM.MessageText)"/>
                </div>

            <button type="submit" class="btn btn-primary">Save Message</button>
            <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
        </EditForm>

    </div>
    </div>
    </div>
    </div>
}