@page "/appointmentcenter"
@inherits AppointmentCenterBase

<section>
    <div class="row">
        <div class="navbar">
            @if (DisplayAppointments == false || appointments == null)
            {
            <div class="card shadow left-color" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Appointment Center</h5>
                    <p class="card-text">You have @ApptCount appointments pending.</p><br/>
                    <button class="btn btn-primary" @onclick="DisplayReportHandler">List</button>
                    <button class="btn btn-primary" @onclick="QuickAddAppt">Add</button>
                    <ApptDialog @ref="apptDialog"
                                 UserName="@UserName"
                                 CloseEventCallback="@ApptDialog_OnDialogClose"></ApptDialog>
                </div>
            </div>
            }
        </div>
        <div class="content">
            @if (DisplayAppointments && appointments != null)
            {
                <table class="table table-striped shadow message-table">
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>Doctor</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td><button class="btn btn-secondary" @onclick="() => DisplayAppointments=false">Close</button></td>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var appointment in appointments)
                    {
                        <tr>
                            <td>@appointment.Id</td>
                            <td>@appointment.DoctorName</td>
                            <td>@appointment.Date.ToLongDateString()</td>
                            <td>@appointment.Date.ToLongTimeString()</td>
                            <td><button class="btn btn-danger" @onclick="() => cancelApptHandler(appointment.Id)">Cancel</button></td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>

    </div>
    <br/>
</section>