@inherits ApptDialogBase

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-color">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Make an Appointment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@queryParamsVM">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        
                        <div class="form-group">
                            <label for="Doctor">Doctor: </label>
                            <InputSelect id="Doctor" class="form-control" @bind-Value="@queryParamsVM.DoctorName">
                                @foreach (var doctor in Doctors)
                                {
                                    <option>@doctor.Name @doctor.Speciality</option>
                                }
                            </InputSelect>
                        </div>

                        <div class="form-group">
                            <label for="Years">Choose Year </label>
                            <InputSelect id="Years" class="form-control" @bind-Value="@queryParamsVM.YearSelected">
                                @foreach (var year in queryParamsVM.Years)
                                    {
                                    <option>@year</option>
                                    }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label for="Months">Choose Month </label>
                            <InputSelect id="Months" class="form-control" @bind-Value="@queryParamsVM.MonthSelected">
                                @foreach (var month in queryParamsVM.Months.Keys)
                                    {
                                    <option>@month</option>
                                    }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label for="DOW">Choose Day of the Week </label>
                            <InputSelect id="DOW" class="form-control" @bind-Value="@queryParamsVM.DaySelected">
                                @foreach (var day in queryParamsVM.DayOfWeek.Keys)
                                    {
                                    <option>@day</option>
                                    }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label for="TOD">Choose Time of the Day </label>
                            <InputSelect id="TOD" class="form-control" @bind-Value="@queryParamsVM.TODSelected">
                                @foreach (var time in queryParamsVM.TimeOfDay)
                                    {
                                    <option>@time</option>
                                    }
                            </InputSelect>
                        </div>
                        <p>@Message</p>
                        @if (Schedules != null)
                        {
                            <div class="form-group">
                                <label for="Appt">Select an Appointment: </label>
                                <InputSelect id="TOD" class="form-control" @bind-Value="@queryParamsVM.ApptSelected">
                                    <option value="0">Select a Time</option>
                                    @foreach (var date in Schedules)
                                            {
                                        <option value="@date.Id">@date.Date.ToLongDateString() @date.Date.ToLongTimeString()</option>
                                            }
                                </InputSelect>
                            </div>
                        }
                        @if (queryParamsVM.YearSelected != "" && queryParamsVM.MonthSelected != "" && queryParamsVM.DaySelected != "" && queryParamsVM.TODSelected != "")
                        {
                            <button class="btn btn-secondary" @onclick="ProcessSelectHandler">Process</button>
                        }

                        @if (queryParamsVM.ApptSelected != "")
                        {
                            <button @onclick="HandleValidSubmit" class="btn btn-primary">Save</button>
                        }

                        <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                    </EditForm>
                    
                </div>
            </div>
        </div>
    </div>
}
