@page "/container"
@inherits ContainerBase

<section>
    <div class="jumbotron jumbotron-fluid shadow left-color">
        <div class="container">
            <h3>Welcome to The Patient Portal</h3>

        </div>
    </div>
    @if (LoginRequired)
    {
        <LoginForm 
                onRegister="RegisterHandler"
                onDashboard="DashboardHandler"
                onUserName="UserNameHandler"
                   />
    }
    @if (RegisterPage)
    {
        <RegisterForm UserName="@UserName"
                       onLogin="LoginHandler"
                      />
    }
    @if (LoginRequired == false && RegisterPage == false)
    {
<div class="dashboard">
    <div class="admin">
        <div class="activity-center">
            <ProfileCenter UserName="@UserName" />
        </div>
        <div class="activity-center">
            <BillingCenter />
        </div>
    </div>
    <div class="client">
        <div class="activity-center">
            <AppointmentCenter UserName="@UserName" />
        </div>
        <div class="activity-center">
            <PaymentCenter UserName="@UserName" />
        </div>
        </div>
    <div class="client">
        <div class="activity-center">
            <MessageCenter UserName="@UserName" />
        </div>
    </div>
 



    <button id="logout-button" class="btn btn-primary" @onclick="DashboardLogout">Logout</button>
</div>
    }
</section>