@page "/loginpage"
@inherits LoginPageBase

<section>
    @if (LoginRequired)
    {
        <div>
            <h1>Login Please</h1>
            <p>@Message</p>
            <EditForm Model="@register">
                <div class="form-group row">
                    <label for="UserName" class="col-sm-2">User Name: </label>
                    <InputText id="UserName" class="form-control col-sm-3" @bind-Value="@register.credential.UserName" placeholder="Enter UserName: "></InputText>
                </div>
                <div class="form-group row">
                    <label for="Password" class="col-sm-2">Password: </label>
                    <InputText id="Password" class="form-control col-sm-3" @bind-Value="@register.credential.Password" placeholder="Enter Password: "></InputText>
                </div>
                <button class="btn btn-primary" @onclick="HandleSubmit">Login</button>
                <button class="btn btn-secondary" @onclick="RegisterPageHandler">Register</button>
            </EditForm>
        </div>
    }
    @if (RegisterPage)
    {
        <h1>Register Page</h1>
        <EditForm Model="@register">
            <div class="form-group row">
                <label for="UserName" class="col-sm-2">User Name: </label>
                <InputText id="UserName" class="form-control col-sm-3" @bind-Value="@register.credential.UserName" placeholder="Enter UserName: "></InputText>
            </div>
            <div class="form-group row">
                <label for="Password" class="col-sm-2">Password: </label>
                <InputText id="Password" class="form-control col-sm-3" @bind-Value="@register.credential.Password" placeholder="Enter Password: "></InputText>
            </div>
            <div class="form-group row">
                <label for="FirstName" class="col-sm-2">First Name: </label>
                <InputText id="FirstName" class="form-control col-sm-3" @bind-Value="@register.client.FirstName" placeholder="Enter First Name: "></InputText>
            </div>
            <div class="form-group row">
                <label for="LastName" class="col-sm-2">Last Name: </label>
                <InputText id="LastName" class="form-control col-sm-3" @bind-Value="@register.client.LastName" placeholder="Enter Last Name: "></InputText>
            </div><div class="form-group row">
                <label for="Street" class="col-sm-2">Street: </label>
                <InputText id="Street" class="form-control col-sm-3" @bind-Value="@register.client.Street" placeholder="Enter Street: "></InputText>
            </div><div class="form-group row">
                <label for="City" class="col-sm-2">City </label>
                <InputText id="City" class="form-control col-sm-3" @bind-Value="@register.client.City" placeholder="Enter City: "></InputText>
            </div><div class="form-group row">
                <label for="State" class="col-sm-2">State: </label>
                <InputText id="State" class="form-control col-sm-3" @bind-Value="@register.client.State" placeholder="Enter State: "></InputText>
            </div><div class="form-group row">
                <label for="Zipcode" class="col-sm-2">Zipcode: </label>
                <InputText id="Zipcode" class="form-control col-sm-3" @bind-Value="@register.client.Zipcode" placeholder="Enter Zipcode: "></InputText>
            </div><div class="form-group row">
                <label for="Email" class="col-sm-2">Email: </label>
                <InputText id="Email" class="form-control col-sm-3" @bind-Value="@register.client.Email" placeholder="Enter Email: "></InputText>
            </div><div class="form-group row">
                <label for="HomePhone" class="col-sm-2">Home Phone: </label>
                <InputText id="HomePhone" class="form-control col-sm-3" @bind-Value="@register.client.HomePhone" placeholder="Enter Home Phone: "></InputText>
            </div>
            <div class="form-group row">
                <label for="MobilePhone" class="col-sm-2">Mobile Phone: </label>
                <InputText id="MobilePhone" class="form-control col-sm-3" @bind-Value="@register.client.MobilePhone" placeholder="Enter Mobile Phone: "></InputText>
            </div>
            <button class="btn btn-primary" @onclick="HandleRegisterSubmit">Save</button>
            <button class="btn btn-secondary" @onclick="HandleRegisterCancel">Cancel</button>
        </EditForm>
    }
    @if (LoginRequired == false && RegisterPage == false)
    {
        <div class="dashboard">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Welcome to The Dental Dashboard</h1>
                   
                </div>
            </div>
            <div class="activity-center">
                <AppointmentCenter UserName="@cred.UserName"/>
            </div>
            <div class="activity-center">
                <PaymentCenter UserName="@cred.UserName"/>
            </div>
            <div class="activity-center">
                <MessageCenter UserName="@cred.UserName"/>
            </div>


            <button id="logout-button" class="btn btn-primary" @onclick="DashboardLogout">Logout</button>
        </div>
    }
</section>
