@page "/messagecenter"
@inherits MessageCenterBase

<section>
    <div class="row">
        <div class="navbar">

  @if (DisplayMessages==false || messages==null)
  {
            <div class="card shadow left-color" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Message Center</h5>
                    <p class="card-text">You have @MessageCount messages pending</p><br/>
                    <button class="btn btn-primary" @onclick="DisplayReportHandler">List</button>
                    <button @onclick="() => QuickAddMessage(0)" class="btn btn-primary">Add</button>
                    <AddMessageDialog @ref="addMessageDialog"
                                       UserName="@UserName"
                                       CloseEventCallback="@AddMessageDialog_OnDialogClose">
                    </AddMessageDialog>

                </div>
            </div>
  }
        </div>
        <div class="content">
            @if (DisplayMessages && messages != null)
            {
                <AddMessageDialog @ref="addMessageDialog"
                                  UserName="@UserName"
                                  CloseEventCallback="@AddMessageDialog_OnDialogClose">
                </AddMessageDialog>
                <table class="table table-striped shadow message-table">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Doctor</td>
                            <td>Date</td>
                            <td>Dir</td>
                            <td>Message</td>
                            <td><button class="btn btn-secondary" @onclick="() => DisplayMessages=false">Close</button></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var message in messages)
                        {
                            <tr>
                                <td>@message.Id</td>
                                <td>@message.DoctorName</td>
                                <td>@message.CreateDate.ToLongDateString()</td>
                                <td>@message.Direction</td>
                                <td>@message.MessageText</td>
                                <td><button class="btn-secondary btn" @onclick="() => QuickAddMessage(message.Id)">Open</button></td>
                            </tr>
                        }
                    </tbody>
                </table>



            }
        </div>
    </div>
    <br/>
</section>
