@page "/paymentcenter"
@inherits PaymentCenterBase

<section>
    <div class="row">
        <div class="navbar">
            @if (DisplayBills == false || bills == null)
            {
            <div class="card shadow left-color" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Payment Center</h5>
                    <p class="card-text">You have a payment of @PaymentsDue Due</p><br/>
                    <button class="btn btn-primary" @onclick="DisplayReportHandler">List</button>
                    <button class="btn btn-primary" @onclick="QuickAddPayment">Pay</button>
                    <PaySetupDialogx @ref="paySetupDialogx"
                                      UserName="@UserName"
                                      PayAmount="@PaymentsDue"
                                      CloseEventCallback="@PaySetupDialogx_OnDialogClose"></PaySetupDialogx>
                </div>
            </div>
            }
        </div>
        <div class="content">

            @if (DisplayBills && bills != null)
            {

                <table class="table table-striped shadow message-table">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Date</td>
                            <td>Procedure</td>
                            <td>Charge</td>
                            <td>Insurance</td>
                            <td>Balance</td>
                            <td><button class="btn btn-secondary" @onclick="() => DisplayBills=false">Close</button></td>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var bill in bills)
                    {
                        <tr>
                            <td>@bill.Id</td>
                            <td>@bill.Date.ToShortDateString()</td>
                            <td>@Procedures[bill.Procedure]</td>
                            <td>@bill.Charge</td>
                            <td>@bill.Insurance</td>
                            <td>@bill.Balance</td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <br/>
</section>